@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'TT Commons';
        src: url('/fonts/tt-commons.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @media (min-width: 1920px) {
        .container {
            max-width: 1920px;
        }
    }
}
