@import 'tailwindcss';
@import './transition.css' layer(utilities);

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility container-fluid {
  @apply 3xl:max-w-(--breakpoint-3xl) mx-auto;
}

@utility flex-col {
  @apply flex;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility inset-center {
  @apply absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
}

@utility inset-x-center {
  @apply absolute transform -translate-x-1/2 left-1/2;
}

@utility inset-y-center {
  @apply absolute transform -translate-y-1/2 top-1/2;
}

@utility h-screen {
  height: 100svh;
}

@utility px-container {
  @apply px-4 md:px-8 xl:px-14;
}

@utility skeleton {
  @apply animate-pulse bg-[#ababab];
}

@layer components {
    #model-paragraph .cursor-grab > div:first-child > div:first-child {
        @apply bg-red!;
    }

    #texts-grid.bg-red {
        @apply text-white;
    }

    #texts-grid * {
        @apply transition;
    }

    #texts-grid.bg-red .text-red {
        @apply text-black!;
    }

    #texts-grid.bg-red .border-white {
        @apply border-black;
    }
}

@layer base {
    html {
        font-size: 14px;
        overflow-y: overlay;
    }

    @media (width >= theme(--breakpoint-3xl)) {
        html {
            font-size: 21px;
        }
    }

    * {
        scrollbar-color: #52525b transparent;
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #52525b;
        border: 4px solid transparent;
        background-clip: content-box;
        border-radius: 10px;
    }
}
