@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'transition';

@layer base {
    @font-face {
        font-family: 'TT Commons';
        src: url('/fonts/tt-commons.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    html {
        overflow-y: overlay;
    }
    
    @media screen(3xl) {
        html {
            font-size: 21px;
        }
    }

    * {
        scrollbar-color: #52525b transparent;
        scrollbar-width: thin;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #52525b;
        border: 4px solid transparent;
        background-clip: content-box;
        border-radius: 10px;
    }
}

@layer utilities {
    .container-fluid {
        @apply 3xl:max-w-screen-3xl mx-auto;
    }
    
    .flex-col {
        @apply flex;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .inset-center {
        @apply absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
    }

    .inset-x-center {
        @apply absolute transform -translate-x-1/2 left-1/2;
    }

    .inset-y-center {
        @apply absolute transform -translate-y-1/2 top-1/2;
    }

    .h-screen {
        height: 100svh;
    }

    .px-container {
        @apply px-4 md:px-8 xl:px-14;
    }
}
