---
import {storyblokEditable} from '@storyblok/astro';
import Accordion from '@/components/Accordion.vue';
import formatImage from '@/utils/formatImage';

let {blok, items, title} = Astro.props;

items = items.map((item) => {
    return {
        ...item,
        image: formatImage(item.image),
    };
});
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray"
>
    <div class="container-fluid border-b border-white">
        <h2 class="border-l border-white pb-4 pt-12 text-4xl text-red md:pt-24 md:text-8xl">{title}</h2>
    </div>

    <Accordion
        client:visible
        items={items}
    />

    <div class="container-fluid">
        <div class="border-l border-white pt-12 md:pt-24" />
    </div>
</section>
