---
import {storyblokEditable} from '@storyblok/astro'
import IArrow from '@/components/icons/IArrow.vue'
import Link from '@/components/Link.astro'

const {blok, link} = Astro.props;
---

<section
  {...storyblokEditable(blok)}
  class="border-white border-t bg-gray-light py-12 lg:py-24"
>
    <div class="container-fluid flex items-center justify-between px-container">
      <div class="flex flex-col gap-2">
        <p class="text-xs uppercase-wide md:text-sm">
          Next project
        </p>

        <Link
          class="-ml-1 text-4xl lg:text-7xl"
          link={link}
        />
      </div>

      <Link link={link} label=" ">
        <IArrow
          class="h-8 lg:h-16"
          client:visible
        />
      </Link>
    </div>
</section>
