---
import {storyblokEditable} from '@storyblok/astro';
import Carousel from '@/components/Carousel.vue';
import formatLink from '@/utils/formatLink';

const {blok, items} = Astro.props;

const carouselItems = items.map((item) => {
    // TODO: add option text white to storyblok
    return {
        description: item.description,
        image: item.image.filename,
        link: formatLink(item.link),
    };
});
---

<section
    {...storyblokEditable(blok)}
    class="bg-black py-8"
>
    <div class="container-fluid min-h-screen">
        <Carousel
            client:visible
            items={carouselItems}
        />
    </div>
</section>
