---
import {storyblokEditable} from '@storyblok/astro'
import Counter from '@/components/Counter.vue'

interface Props {
    blok: any
    from: Number
}

const {blok, from} = Astro.props;
---

<section
  {...storyblokEditable(blok)}
  class="flex-center h-screen bg-black"
>
    <Counter
      client:visible
      from={from}
    />
</section>
