---
import {storyblokEditable} from '@storyblok/astro';
import Counter from '@/components/Counter.vue';

export interface Props {
    from: Number
}

const {blok, from} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="flex h-[100svh] items-center justify-center bg-black"
>
    <Counter
        client:visible
        from={from}
    />
</section>
