---
import {storyblokEditable} from '@storyblok/astro';

const {blok, title} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray"
>
    <div class="container flex min-h-screen items-center">
        <h2 class="w-3/5 text-8xl text-black">
            {title}
        </h2>
    </div>
</section>
