---
import {storyblokEditable} from '@storyblok/astro';

const {blok, title} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray"
>
    <div class="container flex min-h-screen items-center">
        <h2 class="text-4xl text-black md:text-6xl lg:text-8xl xl:w-3/5">
            {title}
        </h2>
    </div>
</section>
