---
import {storyblokEditable} from '@storyblok/astro';

const {blok, title} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-black"
>
    <div class="container-fluid px-container">
        <h1 class="flex min-h-[70vh] max-w-5xl items-center text-4xl text-gray lg:text-7xl">
            {title}
        </h1>
    </div>
</section>
