---
import {storyblokEditable} from '@storyblok/astro';
import Twotenses from '@/components/Twotenses.astro';
import IInstagram from '@/components/icons/IInstagram.astro';
import IWhatsapp from '@/components/icons/IWhatsapp.astro';
import settings from '@/store/settings';

const {blok, texts} = Astro.props;

const {contact_instagram, contact_whatsapp} = settings;
---

<section
    {...storyblokEditable(blok)}
    class="bg-black text-red"
>
    <div class="container flex min-h-screen flex-col py-8">
        <div class="mt-auto">
            <Twotenses />
        </div>

        <div class="mt-auto flex items-end justify-between">
            <div class="flex gap-4">
                <a
                    href={contact_whatsapp.cached_url}
                    target="_blank"
                >
                    <IWhatsapp />
                </a>

                <a
                    href={contact_instagram.cached_url}
                    target="_blank"
                >
                    <IInstagram />
                </a>
            </div>

            <div class="flex gap-4">
                {texts.map(text => (
                    <p class="max-w-xs text-2xl">
                        {text.text}
                    </p>
                ))}
            </div>
        </div>
    </div>
</section>
