---
import {storyblokEditable} from '@storyblok/astro';
import Twotenses from '@/components/Twotenses.astro';
import Socials from '@/components/Socials.astro';

interface Props {
    blok: any
    texts: any[]
}

const {blok, texts} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-black text-gray"
>
    <div class="container-fluid px-container flex h-screen flex-col py-8">
        <div class="mt-auto">
            <Twotenses />
        </div>

        <div class="mt-auto flex flex-col justify-between gap-16 sm:flex-row sm:items-end">
            <Socials class="hidden sm:flex" />

            <div class="flex gap-2 sm:gap-4 lg:gap-8">
                {texts.map(text => (
                    <h1 class="flex-1 md:max-w-sm lg:text-xl">
                        {text.text}
                    </h1>
                ))}
            </div>
        </div>
    </div>
</section>
