---
import {storyblokEditable} from '@storyblok/astro';
import Twotenses from '@/components/Twotenses.astro';

const {blok} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-black text-red"
>
    <div class="container flex min-h-screen flex-col py-8">
        <div class="mt-auto">
            <Twotenses />
        </div>

        <div class="mt-auto flex justify-end justify-items-end gap-4 text-2xl">
            <div class="max-w-xs">
                <p>twotenses is a multidisciplinary interior design studio.</p>
            </div>

            <div class="max-w-xs">
                <p>
                    We design conceptual, yet functional spaces that delivers new experiences for people.
                </p>
            </div>
        </div>
    </div>
</section>
