---
import {storyblokEditable} from '@storyblok/astro';
import Twotenses from '@/components/Twotenses.astro';
import Socials from '@/components/Socials.astro';

const {blok, texts} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-black text-red"
>
    <div class="container-fluid flex min-h-screen flex-col py-8">
        <div class="mt-auto">
            <Twotenses />
        </div>

        <div class="mt-auto flex flex-col justify-between gap-16 sm:flex-row sm:items-end">
            <Socials class="hidden sm:flex" />

            <div class="flex gap-1 sm:gap-4">
                {texts.map(text => (
                    <p class="flex-1 md:max-w-xs lg:text-2xl">
                        {text.text}
                    </p>
                ))}
            </div>
        </div>
    </div>
</section>
