---
import {storyblokEditable} from '@storyblok/astro'

const {blok, sections, title} = Astro.props;
---

<section {...storyblokEditable(blok)} class="bg-gray-light">
    <div class="container-fluid px-container py-28 lg:py-36">
        <h2 class="text-red text-5xl md:text-7xl">
            {title}
        </h2>

        {
            sections.map(section => (
                <div class="mt-8 grid gap-y-8 border-t border-red py-6 md:mt-16 md:grid-cols-3">
                    <h3 class="text-red col-span-full w-full text-3xl md:col-span-1 md:text-4xl lg:mr-20 lg:w-auto xl:mr-40 2xl:mr-80">
                        {section.title}
                    </h3>

                    <div class="grid grid-cols-2 gap-x-4 gap-y-8 md:col-span-2 md:gap-x-8 md:gap-y-12 lg:grid-cols-3 xl:grid-cols-5">
                        {section.columns.map(column => (
                            <div class="flex-col gap-y-2">
                                <h4 class="text-red">
                                    {column.label || <>&nbsp;</>}
                                </h4>

                                {column.links.map(link => (
                                    <p>{link.label}</p>
                                ))}
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</section>
