---
import {storyblokEditable} from '@storyblok/astro';
import LogosGrid from '@/components/LogosGrid.vue';

const {blok, items, title} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray py-12 md:py-24"
>
    <div class="container-fluid px-container lg:grid grid-cols-12">
        <h2 
            class="lg:whitespace-pre-line text-4xl md:text-7xl text-red col-span-5"
            set:html={title}
        />

        <div class="col-span-7 col-start-6 row-start-2 mt-8 px-4 sm:px-0 md:mt-12 lg:mt-0">
            <LogosGrid
                client:visible
                items={items}
            />
        </div>
    </div>
</section>
