---
import {storyblokEditable} from '@storyblok/astro';
import {ModelGltf} from 'vue-3d-model';
import IRotateArrow from '@/components/icons/IRotateArrow.astro';

const {blok, model, paragraph} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="border-b border-red bg-gray"
>
    <div class="container-fluid px-container grid items-center gap-y-4 p-6 md:py-12 lg:grid-cols-2 lg:py-36">
        <div class="lg:h-[70vh]">
            <ModelGltf
                class="cursor-grab active:cursor-grabbing"
                background-alpha={0}
                client:visible
                src={model.filename}
                controls-options={{
                    maxDistance: 8,
                    maxPolarAngle: 1.6,
                    minDistance: 1,
                    minPolarAngle: 1.2,
                }}
            />

            <div class="mt-4 flex justify-center gap-4 text-red">
                DRAG TO ROTATE

                <IRotateArrow />
            </div>
        </div>

        <div class="lg:pl-12">
            <p class="text-lg lg:max-w-xl xl:text-2xl">
                {paragraph}
            </p>
        </div>
    </div>
</section>
