---
import {storyblokEditable} from '@storyblok/astro';
import {getSrcset} from '@/utils';

const {blok, image} = Astro.props;
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray"
>
    <div class="container-fluid flex justify-end py-4 md:py-12 lg:pr-36 xl:py-48">
        <div class="lg:w-2/5">
            <picture>
                <source
                    media="(max-width: 639px)"
                    srcset={getSrcset(image, 639)}
                    width="639"
                />

                <source
                    media="(max-width: 767px)"
                    srcset={getSrcset(image, 767)}
                    width="767"
                />

                <img
                    alt={image.alt}
                    loading="lazy"
                    srcset={getSrcset(image, 700)}
                    title={image.title}
                    width="700"
                />
            </picture>
        </div>
    </div>
</section>
