---
import {storyblokEditable} from '@storyblok/astro';

const {blok, title, paragraph, width = 8} = Astro.props;

const containerClass = width === '12'
    ? 'lg:w-full'
    : `lg:w-${width}/12`;
---

<section
    {...storyblokEditable(blok)}
    class="bg-gray py-4 md:py-12 lg:py-20"
>
    <div class="container-fluid px-container flex-center">
        <div class:list={[containerClass, 'space-y-4']}>
            <h2 
                class="text-3xl sm:text-4xl"
                set:html={title}
            />
        
            <div
                class="text-lg xl:text-2xl"
                set:html={paragraph}
            />
        </div>
    </div>
</section>
