---
import {storyblokEditable} from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface Props {
    blok: any
    class?: string
}

const {blok, class: classes} = Astro.props

const sections = blok.sections.filter(s => !s.hide)
---

<main
  {...storyblokEditable(blok)}
  class:list={[classes]}
>
    {
        sections.map((section) => {
            return <StoryblokComponent blok={section} {...section} />
        })
    }
</main>
