---
import {storyblokEditable} from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

interface Props {
    blok: any
    class?: string
}

const {blok, class: classes} = Astro.props;
---

<main 
    {...storyblokEditable(blok)} 
    class:list={[classes]}
>
    {
        blok.sections?.map((section) => {
            return <StoryblokComponent blok={section} {...section} />;
        })
    }
</main>
