---
import {storyblokEditable} from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const {blok, name} = Astro.props;
---

<main {...storyblokEditable(blok)}>
    {
        blok.sections?.map((section) => {
            return <StoryblokComponent
                blok={section}
                projectDate={blok.date}
                projectName={name}
                {...section}
            />;
        })
    }
</main>
