---
import {storyblokEditable} from '@storyblok/astro';

let {blok, title, paragraph, parallax = false} = Astro.props;

const tt = `<svg class="inline relative top-[-.09em]" fill="currentColor" height=".67em" viewBox="0 0 398 128">
    <path d="M364.916 45.7441L364.497 45.7448L364.424 46.1578L364.917 46.2441C364.424 46.1578 364.424 46.1579 364.424 46.1582L364.424 46.1594L364.423 46.1642L364.42 46.1833L364.407 46.259L364.355 46.5561L364.154 47.6978L363.419 51.8908C362.799 55.428 361.943 60.3066 361.001 65.6723C359.117 76.4037 356.889 89.083 355.511 96.8755L355.511 96.8779C354.686 101.674 355.442 105.669 357.721 108.46C360.003 111.255 363.73 112.741 368.629 112.694C370.941 112.67 373.239 112.314 375.582 111.862C376.422 111.7 377.264 111.527 378.115 111.352C379.438 111.08 380.783 110.804 382.176 110.558C381.832 112.681 381.354 115.492 380.946 117.866C380.719 119.187 380.514 120.371 380.365 121.225C380.291 121.653 380.231 121.997 380.189 122.235L380.165 122.37C380.069 122.423 379.94 122.493 379.777 122.578C379.387 122.782 378.81 123.072 378.068 123.41C376.584 124.085 374.443 124.952 371.824 125.714C366.582 127.238 359.448 128.335 351.831 126.658C345.915 125.315 341.554 122.098 338.964 117.483C336.369 112.857 335.526 106.777 336.755 99.6765C338.281 90.9557 340.593 77.6073 342.523 66.4393C343.488 60.855 344.358 55.8158 344.986 52.1727L345.73 47.8614L345.931 46.6904L345.984 46.3861L345.997 46.3085L346.001 46.289L346.001 46.284L346.002 46.2828C346.002 46.2825 346.002 46.2824 345.509 46.1975L346.002 46.2824L346.103 45.6975H345.509H334.201L36.837 45.7534L36.4171 45.7535L36.3446 46.1671L36.8371 46.2534C36.3446 46.1671 36.3446 46.1672 36.3446 46.1675L36.3444 46.1687L36.3435 46.1735L36.3402 46.1926L36.3269 46.2684L36.2748 46.5655L36.0748 47.7072L35.3405 51.8999C34.7213 55.4369 33.8678 60.315 32.9304 65.6796C31.0557 76.4087 28.8458 89.0842 27.505 96.8683L27.5049 96.8685C26.6806 101.665 27.4362 105.66 29.7151 108.451C31.9975 111.246 35.7247 112.732 40.6237 112.685H40.624C42.9349 112.661 45.2331 112.304 47.5765 111.853C48.4164 111.691 49.2583 111.518 50.1091 111.343C51.4322 111.071 52.7771 110.794 54.1703 110.549C53.8264 112.672 53.3485 115.483 52.9403 117.857C52.7132 119.177 52.5078 120.362 52.3592 121.216C52.2849 121.643 52.2248 121.988 52.1833 122.226L52.1596 122.361C52.0636 122.414 51.9337 122.484 51.7715 122.569C51.3812 122.773 50.8039 123.063 50.0621 123.4C48.578 124.076 46.4374 124.942 43.8183 125.704C38.5766 127.229 31.4423 128.325 23.825 126.648C17.9088 125.306 13.5478 122.089 10.9583 117.473C8.36331 112.848 7.52013 106.768 8.74948 99.6678C10.2752 90.9469 12.5868 77.5982 14.517 66.43C15.4821 60.8457 16.3518 55.8065 16.9803 52.1634L17.7238 47.852L17.9256 46.6811L17.9781 46.3768L17.9914 46.2992L17.9948 46.2796L17.9956 46.2747L17.9959 46.2735C17.9959 46.2732 17.9959 46.2731 17.5032 46.1882L17.9959 46.2731L18.0967 45.6882H17.5032H0.621917L3.61044 32.1H21.1185H21.5346L21.6102 31.6908L21.1185 31.6C21.6102 31.6908 21.6102 31.6907 21.6102 31.6906L21.6103 31.6898L21.6109 31.6868L21.6131 31.6748L21.6219 31.6274L21.6563 31.4412L21.7884 30.7261L22.2737 28.1009C22.683 25.8871 23.2473 22.8355 23.8674 19.4844C25.0729 12.9693 26.4892 5.32266 27.3869 0.5H45.0592C44.9342 7.52719 43.3086 13.4797 40.1894 18.5052C36.9954 23.6513 32.2149 27.858 25.8036 31.2513L26.0375 32.1932C33.2495 32.1932 114.026 32.2095 192.999 32.2258L300.686 32.2483L335.851 32.2556L345.672 32.2577L348.257 32.2583L348.919 32.2584L349.086 32.2584L349.129 32.2584L349.139 32.2585C349.141 32.2585 349.143 32.2585 349.143 31.7585L349.143 32.2585L349.559 32.2585L349.634 31.8495L349.635 31.8485L349.635 31.8455L349.637 31.8335L349.646 31.7858L349.681 31.5989L349.814 30.8808L350.302 28.245C350.714 26.0225 351.282 22.9592 351.905 19.5965C353.118 13.0587 354.541 5.38927 355.439 0.565256H373.111C372.986 7.59244 371.361 13.545 368.241 18.5705C365.047 23.7166 360.267 27.9232 353.856 31.3165L354.09 32.2585H397.409L395.163 45.6981L364.916 45.7441Z" />
</svg>`;

title = title.replace('t--t', tt);
---

<section
    {...storyblokEditable(blok)}
    class="container-fluid px-container grid gap-y-6 bg-black py-24 lg:py-32 lg:grid-cols-12"
    class:list={{'sticky inset-x-0 bottom-0 -z-20': parallax}}
>
    <h2 
        set:html={title}
        class="text-5xl text-gray sm:text-6xl lg:text-7xl lg:col-span-5"
    />

    <p class="text-gray lg:text-2xl lg:col-span-5 lg:col-start-7 pt-4">
        {paragraph}
    </p>
</section>
