---
import Layout from '@/layouts/Layout.astro';
import OnionKoala from '@/components/OnionKoala.vue';
---

<Layout title="Onion Koala">
    <!-- <h1 class="text-center text-5xl text-gray">
        onion + koala
    </h1> -->

    <OnionKoala client:visible />
</Layout>
