---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="onion koala">
    <section class="container-fluid px-container py-12">
        <div class="mx-auto max-w-prose whitespace-pre-line text-lg text-gray">
            Hilversum, June 17th 2023

            Dear Melissa,

            I still remember the days when we chatted back in 2019.
            It was one of the hardest time in my life.
            I would go home after a day full of internship, then see long messages from you.
            I didn’t have much energy to read and reply, but those messages made me smile.

            I remember the topics were deep and thoughtful, sometimes playful.
            It was high quality conversations.
            You were, and are a fascinating person to me.
            We are sefrekuensi.
            I have always known that in the back of my mind.
            Since those LINE days.
            Perhaps since the Bharatika days.

            I think that’s why, on that afternoon in your apartment,
            my heart subconsciously whispered to me:
            “Albert, maybe she is the one you’ve been searching for all this time.”
            Oh heart, you are so damn right.

            Today we have passed five months of our relationship.
            It feels like an adventure with my best friend, full of love and colors.
            Exploring sides of ourselves we don’t know existed.

            Sticker pack 1, liburan ke Korea, bete2 moments, telpon subuh2,
            sticker Albert ngantuk, sticker kucing, sticker bubbles, geli2 time..
            Despite the distance, we are having the time of our lives!
            And the best part: we are our most authentic selves around each other.
            Never have I ever feel so safe and wholely wanted.

            Everyday I google "days until 2 september".
            I picture the moment we meet at the airport.
            Hugs and kisses.. Hormon tumpah tumpah..
            Can't wait to have that first dinner with you.
            Then go home and spend the night together.
            Now I finally understand, dunia serasa milik berdua.

            We don’t have it all figured out yet.
            But with you, deep down I don’t worry.
            We will have enough money.
            We will raise a great family.
            We will be happy.

            With you I know we are going to have an amazing life together.

            See you in 77 days!

            Long hugs, lots of muahhh,
            and never ending love,
            Albert

            🥰
        </div>
    </section>
</Layout>
