---
interface Props {
    class: any;
    label: string;
    url: {
        cached_url: string;
        target?: string;
    };
}

const {class: className, label, url} = Astro.props;

const href = url.cached_url.startsWith('http')
    ? url.cached_url
    : `/${url.cached_url === 'home' ? '' : url.cached_url}`;

const target = url.target || '_self';
---

<a
    class:list={className}
    href={href}
    target={target}
>
    {label}
</a>
