---
import formatLink from '@/utils/formatLink';

interface Props {
    class: any;
    label: string;
    link: {
        cached_url: string;
        target?: string;
    };
}

const {class: className, label, link} = Astro.props;

const {href, target} = formatLink(link);
---

<a
    class:list={className}
    href={href}
    target={target}
>
    {label}
</a>
