---
import formatLink from '@/utils/formatLink';

interface Props {
    class: any;
    label?: string;
    link: {
        cached_url: string;
        target?: string;
        title?: string;
    };
}

let {class: className, label, link} = Astro.props;

label = label || link.title;

const {href, target} = formatLink(link);
---

<a
    class:list={className}
    href={href}
    target={target}
>
    {label}

    <slot></slot>
</a>
