---
const {title} = Astro.props;
---

<section class="flex min-h-screen items-center justify-center bg-black">
    <a href="https://instagram.com/twotenses">
        <h1 class="text-2xl lg:text-9xl text-red transition-colors hover:text-white">
            {title}
        </h1>
    </a>
</section>
