---
import settings from '@/store/settings';
import HamburgerMenu from '@/components/HamburgerMenu.vue';
import Link from '@/components/Link.astro';
import Twotenses from '@/components/Twotenses.astro';
import Socials from '@/components/Socials.astro';

const {header_center_links, header_right_links} = settings;

const links = header_center_links.concat(header_right_links);

const isHome = Astro.url.pathname === '/';
const headerColor = isHome ? '' : 'bg-gray-light';
---

<header class={`fixed inset-x-0 z-10 transition border-b-2 border-white group ${headerColor}`}>
    <nav class="container-fluid px-container flex items-center">
        <a
            href="/"
            class="py-8"
            aria-label="Twotenses Logo"
        >
            <Twotenses class="w-32 fill-gray group-[.bg-gray-light]:fill-red"/>
        </a>

        <HamburgerMenu
            client:visible
            class="ml-auto sm:hidden"
        >
            <div class="bg-red h-full flex-col">
                <div class="px-4 py-8">
                    <Twotenses class="w-32 fill-gray-light"/>
                </div>

                <div class="grow flex border-t border-black">
                    <div class="w-25 border-r border-black"></div>

                    <div class="grow flex justify-end px-16 py-12">
                        <nav class="flex flex-col gap-6 text-gray-light">
                            {links.map(link => (
                                <Link
                                    class="text-3xl"
                                    {...link}
                                />
                            ))}
        
                            <Socials
                                class="mt-12"
                                size="w-9"
                            />
                        </nav>
                    </div>
                </div>
            </div>
        </HamburgerMenu>

        <div class="ml-auto hidden sm:flex sm:gap-4 md:gap-12 uppercase-wide text-sm">
            {header_center_links.map(link => (
                <Link
                    {...link}
                />
            ))}
        </div>

        <div class="hidden uppercase-wide text-sm sm:ml-4 sm:flex sm:gap-4 md:ml-8 md:gap-12 lg:ml-52">
            {header_right_links.map(link => (
                <Link
                    {...link}
                />
            ))}
        </div>
    </nav>
</header>

<script>
let scrollY = 0;
const header = document.querySelector('header');

document.addEventListener('scroll', () => {
    const method = (window.scrollY > 0 && window.scrollY > scrollY)
        ? 'add'
        : 'remove';

    header?.classList[method]('-translate-y-full');
    header?.classList[method]('opacity-0');

    scrollY = window.scrollY;

    const toggleBg = scrollY <= 0 ? 'remove' : 'add';
    header?.classList[toggleBg]('bg-gray-light');
});
</script>
