---
import settings from '@/store/settings';
import HamburgerMenu from '@/components/HamburgerMenu.vue';
import Link from '@/components/Link.astro';
import Logo from '@/components/Logo.astro';
import Socials from '@/components/Socials.astro';

const {header_center_links, header_right_links} = settings;

const links = header_center_links.concat(header_right_links);
---

<header class="fixed inset-x-0 top-8 z-10">
    <nav class="container-fluid px-container flex items-center text-gray">
        <a
            href="/"
            aria-label="Twotenses Logo"
        >
            <Logo />
        </a>

        <HamburgerMenu
            client:visible
            class="ml-auto sm:hidden"
        >
            <nav class="flex flex-col gap-6 text-right">
                {links.map(link => (
                    <Link
                        class="text-3xl"
                        {...link}
                    />
                ))}

                <Socials
                    class="mt-12 justify-end"
                    size="w-9"
                />
            </nav>
        </HamburgerMenu>

        <div class="ml-auto hidden sm:flex sm:gap-4 md:gap-12">
            {header_center_links.map(link => (
                <Link
                    {...link}
                />
            ))}
        </div>

        <div class="hidden sm:ml-4 sm:flex sm:gap-4 md:ml-8 md:gap-12 lg:ml-52">
            {header_right_links.map(link => (
                <Link
                    {...link}
                />
            ))}
        </div>
    </nav>
</header>
