---
import settings from '@/store/settings';
import Link from '@/components/Link.astro';

const {header_center_links, header_right_links} = settings;
---

<header>
    <nav class="fixed inset-x-0 pt-4">
        <div class="container flex items-center text-red">
            <a
                class="text-5xl italic"
                href="/"
            >
                tt
            </a>

            <div class="ml-auto flex gap-8">
                {header_center_links.map(link => (
                    <Link
                        class="p-4"
                        {...link}
                    />
                ))}
            </div>

            <div class="ml-52 flex gap-8">
                {header_right_links.map(link => (
                    <Link
                        class="p-4"
                        {...link}
                    />
                ))}
            </div>
        </div>
    </nav>
</header>
