---
import '@/styles/main.css';
import Header from '@/layouts/Header.astro';
---

<!DOCTYPE html>
<html
    lang="en"
    class="scroll-smooth"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>twotenses — interior design studio</title>
    </head>

    <body class="bg-black">
        <Header />

        <slot />
    </body>
</html>
