---
import '@/styles/main.css';
import Header from '@/layouts/Header.astro';

const {
    description = 'twotenses is an interior design studio based in Jakarta.',
    title = 'Interior Design Studio',
} = Astro.props;
---

<!DOCTYPE html>
<html
    lang="en"
    class="scroll-smooth"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>{title} - twotenses</title>
        <meta name="description" content={description}>

        <link rel="sitemap" href="/sitemap-index.xml">
    </head>

    <body class="bg-black">
        <Header />

        <slot />
    </body>
</html>
