---
export interface Link {
    href: String
    text: String
}

export interface Props {
    links: Link[]
}

const {links} = Astro.props;
---

<nav class="fixed inset-x-0">
    <div class="container mx-auto flex justify-end gap-14">
        {links.map(link => (
            <a
                class="pt-10 pb-4 uppercase text-red"
                href={link.href}
            >
                {link.text}
            </a>
        ))}
    </div>
</nav>
